@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --color-gray-background: oklch(99.1% 0 0);

    @supports (color: oklch(0 0 0)) {
        /* OKLCH */
        --color-gray-100: oklch(0.549 0 0);
        --color-gray-200: oklch(0.586 0 0);
        --color-gray-300: oklch(0.955 0 0);
        --color-gray-400: oklch(0.931 0 0);
        --color-gray-500: oklch(0.695 0 0);
        --color-gray-600: oklch(0.731 0 0);
        --color-gray-700: oklch(0.768 0 0);
        --color-gray-800: oklch(0.804 0 0);
        --color-gray-900: oklch(0.841 0 0);
        --color-gray-1000: oklch(0.877 0 0);
        --color-gray-1100: oklch(0.503 0 0);
        --color-gray-1200: oklch(0.244 0 0);
    }

    --tw-inset-shadow {
        syntax: "*";
        inherits: false;
        initial-value: 0 0 #0000;
    }

    --tw-inset-ring-shadow {
        syntax: "*";
        inherits: false;
        initial-value: 0 0 #0000;
    }

    --tw-ring-offset-color {
        syntax: "*";
        inherits: false;
        initial-value: #fff;
    }

    --tw-ring-shadow {
        syntax: "*";
        inherits: false;
        initial-value: 0 0 #0000;
    }

    --tw-shadow {
        syntax: "*";
        inherits: false;
        initial-value: 0 0 #0000;
    }
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

/* dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;

        @supports (color: oklch(0 0 0)) {
            /* OKLCH */
            --color-gray-background: oklch(17.8% 0 0);
            --color-gray-100: oklch(0.178 0 0);
            --color-gray-300: oklch(0.252 0 0);
            --color-gray-400: oklch(0.285 0 0);
            --color-gray-1100: oklch(0.773 0 0);
            --color-gray-1200: oklch(0.950 0 0);
        }
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

.bg-gray-background {
    background-color: var(--color-gray-background);
}

.text-gray-1100 {
    color: var(--color-gray-1100);
}

.text-gray-1200 {
    color: var(--color-gray-1200);
}

.bg-gray-1200 {
    background-color: var(--color-gray-1200);
}

.shadow-custom,
.shadow-lg {
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

@layer base {
    :root {}
}