@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --color-gray-background: oklch(99.1% 0 0);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
        --color-gray-background: oklch(17.8% 0 0);
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

.bg-gray-background {
    background-color: var(--color-gray-background);
}

.text-gray-1200 {
    color: var(--color-gray-1200);
}

@layer base {
    :root {
        /* sRGB hex */
        --color-gray-100: #fcfcfc;
        --color-gray-200: #fafafa;
        --color-gray-300: #f4f4f4;

        @supports (color: oklch(0 0 0)) {
            /* OKLCH */
            --color-gray-100: oklch(0.549 0.000 0.0);
            --color-gray-200: oklch(0.586 0.000 0.0);
            --color-gray-300: oklch(0.622 0.000 0.0);
            --color-gray-400: oklch(0.658 0.000 0.0);
            --color-gray-500: oklch(0.695 0.000 0.0);
            --color-gray-600: oklch(0.731 0.000 0.0);
            --color-gray-700: oklch(0.768 0.000 0.0);
            --color-gray-800: oklch(0.804 0.000 0.0);
            --color-gray-900: oklch(0.841 0.000 0.0);
            --color-gray-1000: oklch(0.877 0.000 0.0);
            --color-gray-1100: oklch(0.914 0.000 0.0);
            --color-gray-1200: oklch(0.950 0.000 0.0);
        }
    }
}